<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="description" content="Responsive Admin Template">
        <meta name="author" content="WEFSystem">
        <title>WEF System Dashboard Application</title>

        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"
            type="text/css" />
        <!-- icons -->
        <link href="/assets/fonts/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!--bootstrap -->
        <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Material Design Lite CSS -->
        <link rel="stylesheet" href="/assets/plugins/material/material.min.css">
        <link rel="stylesheet" href="/assets/css/material_style.css">
        <!-- Theme Styles -->
        <link href="/assets/css/theme/light/theme_style.css" rel="stylesheet" id="rt_style_components"
            type="text/css" />
        <link href="/assets/css/theme/light/style.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/theme/light/theme-color.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/assets/css/app.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" />


    </head>

<body
    class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-dark dark-sidebar-color logo-dark dark-theme">
    <div class="page-wrapper">
        <!-- start header -->
        <%- include('../partials/header') %>
        <!-- end header -->
        <div class="clearfix"> </div>
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu-->
            <%- include('../partials/leftside') %>
            <!-- end sidebar menu -->
            <!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <%- body %>
                </div>
            </div>
            <!-- end page content -->
        </div>
        <!-- end page container -->
        <%- include('../partials/footer') %>
    </div>
    <!-- start js include path -->
    <script src="/assets/plugins/jquery/jquery.min.js"></script>
    <script src="/assets/plugins/popper/popper.js"></script>
    <script src="/assets/plugins/jquery-blockui/jquery.blockui.min.js"></script>
    <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- bootstrap -->
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- Common js-->
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/layout.js"></script>
    <script src="/assets/js/theme-color.js"></script>
    <!-- Material -->
    <script src="/assets/plugins/material/material.min.js"></script>


</body>

</html>